<h4>List</h4>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <caption>List of users</caption>

        @if (Recipes == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {


            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">View</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var recipe in Recipes)
                {
                <tr>
                    <th scope="row">@recipe.RecipeId</th>
                    <td>@recipe.RecipeName</td>
                    <td>@recipe.RecipeDescription</td>
                    <td>Edit</td>
                </tr>
                }                
            </tbody>
        }
        </table>
</div>


