

<h3>Recently ...</h3>

<div class="card">
    <div class="card-body">
        <div class="alert-spec alert-light alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            <small>3 days ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert-spec alert-light alert-dismissible fade show" role="alert">
            <strong>Gotta have Guac!</strong> You should check in on some of those fields below.
            <small>3 days ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert-spec alert-light alert-dismissible fade show" role="alert">
            <strong>You forgot the chips?</strong> You should check in on some of those fields below.
            <small>3 days ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>



@code {
           
    
}
